<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='icon' href='/images/weather.png' />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This website was created by {{name}}. It uses data from mapox.com and dasksky.net!</p>
        <img src={{image}} class='portrait' />
    </div>

    {{>footer}}
</body>

</html>