<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel='icon' href='/images/weather.png' />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>If you need any help do not hesitate to reach me</p>
        <b style="text-decoration: underline ">Contact:</b>
        <p>{{name}}</p>
        <a href={{email}}>{{email}}</a>
    </div>

    {{>footer}}
</body>

</html>